{% extends 'shop/basic.html'%}
{% block title%}{%endblock%}
{%block body%}
{% load static%}

    <main>
        <!-- breadcrumb Start-->
        <div class="page-notification">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">about</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb End-->
        <!-- About Area Start -->
        <div class="about-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="section-tittle mb-60 text-center pt-10">
                            <h2>About Us</h2>
                            <p class="pera">We are a fashion and clothing company based in Lahore with our hands-on services in a number of works – entailing from casual to party wear, and custom-made, our stitches speak of exemplary taste of the Asian roots – Order Indian and Pakistani style dresses from our wide range of collection. Our years of experience in the clothing and fashion industry through our brick-and-mortar stores are continuing to win the credibility of our clientele we care about. Given the ever-warming response of our clientage we have expanded our marketing – where you can purchase from anywhere in the world through our Online Store. We are happy to deliver worldwide, hassle free – experience the best shopping experience for Asian clothes with Glamline Wears.</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="about-img pb-bottom">
                            <img src="assets/img/gallery/about1.png" alt="" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="section-tittle mb-60 text-center pt-10">
                            <h2>Our Vision</h2>
                           <p class="pera"> Our vision strives in maintaining a promising integrity and lasting relationship with our client. We believe in building a rapport that balances well – when you trust in our products, we make sure to return the effort – and we do so by targeting superseding your expectations. At Glamline Wears, we believe in integrating conscious effort, felt in every stitch and every thread you could possibly get your hands on. This long-term relationship is the milestone that we have always aspired to achieve before, and we continue to move towards in the coming times. Our online store is a branched out effort that speaks of this expanded vision in the best of capabilities. </p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="about-img pb-bottom">
                            <img src="assets/img/gallery/about2.png" alt="" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="section-tittle mb-60 text-center pt-10">
                            <h2>Future Plans</h2>
                            <p class="pera">We believe in making high-quality work accessible worldwide – in the near future, we hope to pertain the elements of the classic Asian heritage we want to preserve through our quality cuts and embroideries, and we are enthusiastic in including innovation as it comes. We welcome you all to color your culture with the rich, vibrant legacy the Asian thread has brought in to the world – by sitting in the comfort of your home, you can avail multitude of pieces to wear whether you are of the Subcontinental ethnicity or not. You can contact us anytime through our details given on the website and ask about any queries you may have. Happy shopping!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Area End -->

      {%endblock%}